*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
   
}
.main{
    height: 100vh;
    
    background-image: linear-gradient(to right,rgba(11, 29, 109, 0.918),rgb(209, 25, 163));
}

.card{
    height: 350px;
    margin:50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img{
    height:300px;
    width:350px;
    border-radius: 3px;
}
.container{
    display: flex;
    
}
.intro{
    height:50px;
    width:350px;
    padding: 6px;
    box-sizing: border-box;
    position:absolute;
    bottom: 200px;
    background-color: rgb(27,27,27,.5);
    color:white;
    transition: .5s;
    
}
h2{
    margin:10px;
    font-size: 30px;
}
p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor:pointer;
}
.card:hover .intro{
    height: 280px;
    bottom: 240px;
    background: black;
}
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover img{
    transform: scale(1.1);
}
@media screen and (max-width:600px) {
    .container{
        display: grid;
        grid-template-rows: repeat(3,400px);
        
    }
    .main{
        height: 150%;
    }
    img{
        padding: 20px;
    } 
    .intro{
        position:relative;
        bottom: 334px;
        padding: 0px;
        margin-left: 20px;
    }  
}
@media screen and (max-width:900px) {
    
    .container{
        display: grid;
        grid-template-rows: repeat(3,400px);
        grid-template-columns: repeat(1,500px);
        justify-content: center;
        align-items: center;
    }
    
    .main{
        height: 150%;
    }
    img{
        padding: 20px;
    } 
    .intro{
        position:relative;
        bottom: 334px;
        padding: 0px;
        margin-left: 20px;
    }  
    
}
@media screen and  (min-width:900px) and (max-width:1350px) {
    
    .container{
        display: grid;
        grid-template-columns: repeat(2,490px); 
        justify-content: center;
        align-items: center;
    }
    
    .main{
        height: 150%;
    }
    img{
        padding: 20px;
    } 
    .intro{
        position:relative;
        bottom: 334px;
        padding: 0px;
        margin-left: 20px;
    }  
}
